@import 'base/variables';
@import 'libs/bootstrap-reboot';
@import 'libs/fonts';

* {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
};
body {
    max-width: 1440px;
    margin: 0 auto;
};
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/introduction';
@import 'blocks/options';
@import 'blocks/camera';
@import 'blocks/video-calls';
@import 'blocks/story';
@import 'blocks/alexa';
@import 'blocks/features';
@import 'blocks/prices';
@import 'blocks/footer';