.prices-title-ad {
    background: #D0E7EA;
    h3 {
        margin-left: 92px;
        font-size: 50px;
        line-height: 55px;
        color: $main-color;
    }
    &_wrapper {
        width: 428px;
        margin: 27px 0 0 80px;
        display: flex;
        justify-content: space-around;
        font-size: 17px;
        line-height: 23px;
        color: $main-color;
    }
}
.prices {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #D0E7EA;
    padding: 51px 88px 0 88px;
    &_item {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        width: 304px;
        height: 513px;
        background: #F7F7F7;
        &_title {
            width: 268px;
            padding: 0 18px 0 18px;
            display: flex;
            justify-content: space-between;
            flex-direction: row;
        }
        &_descr {
            margin-top: 25px;
            font-size: 15px;
            line-height: 20px;
            text-align: center;
            color: #434140;
        }
        button {
            margin-top: 31px;
        }
    }
}